<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
                xmlns:sec="https://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{fragments/general-layout}">
<head>
    <title>Overzicht van alle boeken</title>
</head>
<body>

<section layout:fragment="content">
    <div class="container">
    <h1>Overzicht van de boeken</h1>
    <table>
        <tr>
            <th>Title</th>
<!--            <th>Auteur</th>-->
            <th>Beschikbaar</th>
            <th>Bestel</th>
        </tr>
        <tr th:each="book : ${allBooks}">
            <td><a th:href="@{/book/details/{bookTitle}(bookTitle=${book.title})}" th:text="${book.title}"></a> </td>
            <td th:text="${book.authorsDisplayString}"></td>
            <td th:text="${book.numberOfAvailableCopies}"></td>
            <td><a th:href="@{/copy/new/{bookId}(bookId=${book.bookId})}">Bestel</a></td>
        </tr>
    </table>

    <p>
        <a th:href="@{/book/new}">Voeg een nieuwe boek toe</a>
    </p>
    </div>
</section>

</body>
</html>